/*==================== MEDIA QUERIES ====================*/
/*==================== For small devices ====================*/
@media screen and (max-width: 500px) {
  /*====Layout page====*/
  .section {
    padding: 2rem 0 0;
  }
  .container {
    max-width: 424px;
    margin: 0;
    overflow-x: hidden;
  }
  .grid {
    gap: 1.5rem;
  }
  /*===Nav Menu====*/
  .nav__menu {
    width: 100%;
  }
  .nav__link {
    display: flex;
    flex-direction: column;

    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  /*====Header page====*/
  .header {
    width: 100vw;
    padding: 0 1.5rem;
  }
  /*====Home page====*/
  .section__subtitle {
    margin-bottom: var(--mb-1);
  }
  .home__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: var(--mb-2);
    align-items: center;
    justify-content: center;
  }
  .home__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .home__img {
    order: -3;
    width: 60%;
  }
  .home__social {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .home__social-icon {
    margin: 1rem 0.5rem;
  }

  /*====About page====*/
  .about__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--mb-1-5);
  }
  .section__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__data {
    width: 90%;
  }
  .about__img {
    width: 100%;
  }
  /*====Portfolio page====*/
  .portfolio__container {
    width: 100%;
    padding: var(--mb-1-5);
  }
  .protfolio__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--mb-1-5);
  }
  .swiper-slide img {
    width: 100%;
  }
  .swiper-portfolio-icon {
    display: none;
  }
  /*====Skills page====*/
  .skills__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--mb-1-5);
  }
  /*====Services page====*/
  .services__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--mb-1-5);
  }
  .services__title p {
    text-align: center;
  }
  .services__content {
    width: 18rem;
    height: 18rem;
  }
  .modal {
    width: 90%;
    height: 30rem;
    padding: 3rem 2rem;
    border-radius: 0.8rem;
    color: var(--light);
    background: #fff;
    box-shadow: 0.2rem 0.2rem 2.4rem 0.1rem var(--first-color);
    position: relative;
    overflow: hidden;
  }

  .modal__description {
    width: 100%;
    margin-top: 3rem;
    text-align: justify;

    font-size: var(--small-font-size);
    font-style: italic;
  }
  /*====Contact page====*/
  .contact__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--mb-1-5);
  }
  .row {
    width: 80vw;
  }
  /*====Footer page====*/
  .footer__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: initial;
    padding: var(--mb-1-5);
  }
  .footer__data {
    flex-direction: column;
    align-items: initial;
    gap: 1rem;
  }
  .footer__pages {
    margin: var(--mb-2) 0;
  }
  .footer__contact {
    margin-bottom: var(--mb-1-5);
  }
  .footer__nav--social {
    margin-bottom: 0;
  }
}

/*==================== For medium devices ====================*/
@media (min-width: 768px) {
  .grid {
    gap: 1.5rem;
  }
  .header {
    width: 100%;
  }
  .nav__icons {
    display: none;
  }
  .portfolio__container {
    width: 92%;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
  .swiper-slide img {
    width: 52%;
  }
  .swiper-portfolio-icon {
    display: none;
  }

  .row {
    width: 80vw;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .swiper-portfolio-icon {
    display: flex;
  }
}

/*==================== For full devices ====================*/

@media (min-width: 1200px) {
  .container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }

  .row > * {
    flex-shrink: 0;
    width: 80%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #6c757d;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control[type="file"] {
  overflow: hidden;
}
.form-control[type="file"]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
.form-control::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
  .form-control::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}
.form-control::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}

a.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}

.form-control-color {
  width: 3rem;
  height: auto;
  padding: 0.375rem;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control-color::-moz-color-swatch {
  height: 1.5em;
  border-radius: 0.25rem;
}
.form-control-color::-webkit-color-swatch {
  height: 1.5em;
  border-radius: 0.25rem;
}
